/*Schrijf hier jouw CSS*/

/*Deelopdracht 1*/

.nav-bar-opdracht-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Deelopdracht 2*/

.content-opdracht-2 {
    display: flex;
    flex-direction: row;
}

.content-opdracht-2 li {
    flex: 100px;
}

/*Deelopdracht 3*/

.snollebollekes {
    display: flex;
    flex-direction: column;

}

.do3-centered {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-self: center;
    /*justify-self: center;*/
}

.do3-right {
    align-self: flex-end;
}

/*Deelopdracht 4*/

.hele-zin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

/*Deelopdracht 5*/

.kolom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.kolom-1 {
    /*border: red solid 2px;*/
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kolom-2 {
    align-items: center;
    /*border: red solid 2px;*/
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kolom-3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
    /*border: red solid 2px;*/

}
















